button {
  cursor: pointer;
}

.container {
  border: solid black;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.screen {
  grid-area: 1/1/3/5;
  border: black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

button {
  font-size: 25px;
}
